<section class="showU">
<h1>One User</h1>
    <div class="oneuser">
        <div class="photo">
          <%=image_tag("thumbnail.png", alt: "thumbnail")%>
        </div>
        <div class="name">
          <h2><%= @user.name %></h2>
          <p>
            Number of posts: <%= @user.posts_counter || 0 %>
          </p>
        </div>
    </div>

    <div class="bio">
      <h3>Bio</h3>
      <p>
        <%= @user.bio %>
      </p>
    </div>

    <div class="posts">
      <% @user.recent_posts.each do |post| %>
        <div class="postL">
          <h3><%= link_to post.title, user_posts_path(@user, post) %></h3>
          <p>
            <%= post.text %>
          </p>
          <span class="like">
            Likes: <%= post.likes_counter || 0%>
          </span>
          <span class="comment">
            Comments: <%= post.comments_counter || 0 %>
          </span>
        </div>
      <% end %>
    </div>

    <button class="showUbtn">
      <%= link_to 'Show all posts', user_posts_path(@user) %>
    </button>
    
</section>
