<section class="indexP">

  <div class="singleU">
    <div class="photo">
      <img src="<%= @user.photo %>" alt="<%= @user.name %> thumbnail" />
    </div>
    <div class="name">
      <h2><%= @user.name %></h2>
      <p>
        Number of posts: <%= @user.posts_counter %>
      </p>
    </div>
  </div>
  
  <h3>
    <%= link_to 'Add new Post', new_post_path %>
  </h3>

  <div class="Uposts">
    <%= @user.posts.each do |post| %>
      <div class="postL">
        <h3><%= link_to post.title, user_post_path(@user, post) %></h3>
        <p>
          <%= post.text %>
        </p>
        <span class="like">
          Likes: <%= post.likes_counter || 0 %>
        </span>
        <span class="comment">
          Comments: <%= post.comments_counter || 0 %>
        </span>
        
        <h4><%= render partial: 'likes/form', locals: {post: post} %></h4>
        
      </div>
      <ul class="commentP">
        <% if post.comments.length == 0 %>
          <li>
            <p>
              No comments yet
            </p>
          </li>
        <% else %>
          <% post.comments.each do |comment| %>
            <li>
              <%= comment.author.name %>: <%= comment.text %>
            </li>
          <% end %>
        <% end %>
        <h4><%= render partial: 'comments/form', locals: {post: post} %></h4>
      </ul>
    <% end %>
  </div>

</section>