<section class="showP">

  <div class="postL">
    <h3>
      <%= @post.title %> by <%= @post.users.name %>
    </h3>
    <p>
      <%= @post.text %>
    </p>
    <span class="like">
      Likes: <%= post.likes.count || 0 %>
    </span>
    <span class="comment">
      Comments: <%= post.comments.count || 0 %>
    </span>
  </div>

  <ul class="commentP">
    <% if @post.comments.length == 0 %>
      <p>
        No comments yet
      </p>
    <% else %>
      <% @post.comments.each do |comment| %>
        <li>
          <%= comment.users.name %>:
          <%= comment.text %>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>


