<section class="showP">

  <div class="postL">
    <h3>
      <%= @post.title %>
    </h3>
    <p>
      <%= @post.text %>
    </p>
    <span class="like">
      Likes: <%= @post.likes_counter || 0 %>
    </span>
    <span class="comment">
      Comments: <%= @post.comments_counter || 0 %>
    </span>
      <%= form_with url: "/posts/#{@post.id}/likes", scope: :like do |form| %>
      <%= form.submit "Like" %>
      <% end %>
  </div>

  <ul class="commentP">
    <% if @post.comments.length == 0 %>
      <p>
        No comments yet
      </p>
    <% else %>
      <% @post.comments.each do |comment| %>
        <li>
          <% comment.text %>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>


